<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="logo-container flex f-align-center">
        <div class="logo-img-container">
            <img src="../img/header-logo.png" alt="logo" />
        </div>
        <div class="logo-text-container">
            <h2>Цифровой образовательный контент</h2>
        </div>
    </div>
</body>

</html>