<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="modal-style">
        <h3>ФГОС СПО</h3>
        <p>Министерство образования и науки Российской Федерации приказ
            от 9 декабря 2016 г. № 1547 об утверждении федерального государ-ственного образовательного стандарта
            среднего профессионального образования по специальности 09.02.07 информационные системы и программирование
        </p>
        <h3>ПОП - П</h3>
        <p>09.02.07 Информационные системы и программирование: Зарегистрировано в государственном реестре примерных
            основных образовательных программ: № 530 Приказ ФГБОУ ДПО ИРПО</p>
        <h3>ПМ 08</h3>
        <p>Проектирование, разработка и оптимизация веб приложений</p>
        <h3>МДК 09.01</h3>
        <p>ППроектирование и разработка интерфейсов пользователя</p>
        <h3>Тема</h3>
        <p>Технология проектирования и разработки интерфейсов пользователя</p>
    </div>
</body>

</html>