<!DOCTYPE html>
<html lang="en" class="height-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="height-100 flex f-align-center">
    <div class="modal-style">
        <h3>ФГОС СПО:</h3>
        <p>Федеральный государственный образовательный стандарт среднего профессионального образования по специальности
            09.02.07 информационные системы и программирование</p>
        <p>Утвержден приказом Министерством образования и науки Российской Федерации от 9 декабря 2016 г. № 1547
            09.02.07 информационные системы и программирование</p>
        </p>
        <h3>ПОП-П Профессионалитета:</h3>
        <p>09.02.07 информационные системы и программирование</p>
        <h3>Профессиональный модуль:</h3>
        <p>ПМ 08 Разработка дизайна веб-приложений</p>
        <h3>МДК 08.01</h3>
        <p>Проектирование и разработка интерфейсов пользователя</p>
        <h3>Тема:</h3>
        <p>Основы web-дизайна</p>
    </div>
</body>

</html>