<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="modal-style">
        <h3>PHP (англ. Hypertext Preprocessor)</h3>
        <p>C-подобный скриптовый язык общего назначения, интенсивно применяемый для разработки веб-приложений. В
            настоящее время поддер-живается подавляющим большинством хостинг-провайдеров и является одним из лидеров
            среди языков, применяющихся для создания ди-намических веб-сайтов.</p>
        <h3>HTTP (англ. HTTP Headers) </h3>
        <p>Это строки в HTTP-сообщении, содержащие разделённую двоеточием пару имя-значение. Формат заголовков
            соответствует общему форма-ту заголовков текстовых сетевых сообщений.</p>
        <h3>Файловая система</h3>
        <p>Порядок, определяющий способ организации, хранения и именования данных на носителях информации в компьютерах,
            а также в другом электронном оборудовании: цифровых фотоаппаратах, мобильных телефонах и т. п.</p>
        <h3>База данных</h3>
        <p>это упорядоченный набор структурированной информации или данных, которые обычно хранятся в электронном виде в
            компьютерной си-стеме. База данных обычно управляется системой управления базами данных (СУБД). Данные
            вместе с СУБД, а также приложения, которые с ними связаны, называются системой баз данных, или, для
            краткости, просто базой данных.</p>
        <h3>Язык сценариев JavaScript</h3>
        <p>мультипарадигменный язык программирования. JavaScript обычно используется как встраиваемый язык для
            программного доступа к объек-там приложений. Наиболее широкое применение находит в браузерах как язык
            сценариев для придания интерактивности веб-страницам.</p>
    </div>
</body>

</html>