<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>

    <div class="guidanceModal modal-style">
        <h3 class="text-center">Рекомендации для преподавателя</h3>
        <h3 class="text-center">Рекомендации для обучающегося (самостоятельная работа):</h3>
        <p>Преподаватель должен:
            - обеспечить формирование у обучающихся умений самостоятельно применять знания в разнообразных ситуациях, в
            т.ч. при выполнении заданий разного уровня сложности;
            - контролировать выполнение заданий;
            - проверить степень усвоения знаний, умений при выполнении заданий разного уровня сложности;
            - мотивировать обучающихся для получения максимального количества баллов и подтверждения профессиональной
            компетентности;
            - отмечать степень вовлеченности обучающихся в работу;
            - акцентировать внимание на итоговых результатах прохождения всей миниигры;
            - подготовить обучающихся к самооценке и рефлексии.
        </p>
        <p>Запустите интерактивную миниигру по теме «Основы программирования на PHP».
            Последовательно ознакомьтесь с условиями учебной задачи.
            Выполните задания миниигры. Обратите внимание на отсутствие подсказок и ограниченное число попыток.
            При выполнении заданий обратите внимание на рекомендации преподавателя.
            Выполните тренировочные задания на проверку приобретенных знаний, умений и навыков:
            - интерактивное задание с выбором одного правильного ответа;
            - интерактивное задание с выбором нескольких правильных ответов.
            Осуществите самопроверку и предварительную оценку.
            Используйте технологию пошагового контроля по результату за каждое задание.
            Сформулируйте конечный результат своей работы.
            При возникновении ошибок возвращайтесь к повторному изучению теоретического материала.
        </p>
    </div>
</body>

</html>