<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    
    <div class="guidanceModal modal-style">
        <h3 class="text-center">Рекомендации для преподавателя</h3>
        <h3 class="text-center">Рекомендации для обучающегося (самостоятельная работа):</h3>
        <p>Преподаватель должен
            - организовать практическую, в т.ч. самостоятельную, деятельность обучающихся для отработки навыков решения
            определенных учебных заданий;
            - обеспечить усвоение обучающимися знаний и способов действий на уровне применения их в разнообразных
            ситуациях;
            - объяснить обучающимся порядок выполнения заданий;
            - консультировать обучающихся по мере необходимости;
            - обеспечить в ходе выполнения тренировочных заданий повышение уровня осмысления изученного материала,
            глубины его понимания;
            - обеспечить усвоение обучающимися основ разработки интерфейсов;
            - выявить недостатки в знаниях и способах действий обучающихся, установить причины выявленных недостатков;
            - способствовать развитию умения правильно составлять план и пользоваться им, сопоставлять факты и события,
            сравнивать, анализировать, систематизировать материал и формулировать выводы, находить нужную информацию и
            использовать ее на практике.
        </p>
        <p>Запустите виртуальный тренажер по теме «».
            В ходе практической работы выполните тренировочные задания, которые помогут освоить новый материал.
            В процессе интерактивного взаимодействия с тренажером познакомьтесь с основами программирования на PHP.
            Проведите практическую работу с виртуальным оборудованием и фиксацией ее результатов в ЭОМ.
            Выполните тренировочные задания на проверку первичного освоения материала.
            При выполнении заданий обратите внимание на рекомендации преподавателя.
            При возникновении ошибок возвращайтесь к повторному изучению теоретического материала.
        </p>
    </div>

    
</body>

</html>