<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="guidanceModal modal-style">
        <h3 class="text-center">Рекомендации для преподавателя</h3>
        <h3 class="text-center">Рекомендации для обучающегося (самостоятельная работа):</h3>
        <p>Преподаватель должен
            - организовать просмотр динамической инфографики и последующую беседу по уточнению и конкретизации первичных
            знаний;
            - создать условия для освоения обучающимися знаний в форме интерактивной деятельности;
            - формировать у обучающихся мотивацию к усвоению нового материала, образованию как основному инструменту
            достижения личного и профессионального успеха;
            - познакомить обучающихся с устройством двигателя внутреннего сгорания;
            - ознакомить с рабочими циклами двигателя внутреннего сгорания;
            - раскрыть назначение системы охлаждения двигателя;
            - охарактеризовать типы систем охлаждения;
            - ознакомить с устройством жидкостной и воздушной систем охлаждения;
            - содействовать установлению в сознании обучающихся устойчивых связей между накопленным и новым опытом
            познавательной деятельности;
            - фиксировать предложенные обучающимися гипотезы, курировать их обсуждение.
        </p>
        <p>Ознакомьтесь с теоретическим материалом по новой теме. Просмотрите динамическую инфографику по теме
            «Двигатели машинно-тракторных агрегатов».
            Если в процессе изучения материала возникнут вопросы, запишите их для дальнейшего обсуждения с
            преподавателем и/или с группой обучающихся.
            Обратите внимание на основные вопросы, подтверждающие взаимосвязь знаний и умений при изучении модуля:
            - устройство двигателя внутреннего сгорания
            - рабочие циклы двигателя внутреннего сгорания
            - назначение системы охлаждения двигателя
            - устройство систем охлаждения двигателей разного типа
            При необходимости прослушайте/просмотрите материал еще раз.
            Возвращайтесь к наиболее сложным аспектам темы.
            Соблюдайте здоровье-сберегающий режим: чередуйте работу с электронными носителями с отдыхом и гимнастикой
            для глаз.
        </p>
    </div>
</body>

</html>