<!DOCTYPE html>
<html lang="en" class="height-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body class="height-100 flex f-align-center">

    <div class="guidanceModal modal-style">
        <h3 class="text-center">Методические рекомендации для преподавателя</h3>
        <h3 class="text-center">Методические рекомендации для обучающегося (самостоятельная работа):</h3>
        <div>
            <p>Преподавателю:</p>
            <ul>
                <li>Организовать практическую, в т.ч. самостоятельную, деятельность обучающихся для отработки навыков
                    решения определенных учебных заданий;</li>
                <li>Обеспечить усвоение обучающимися знаний и способов действий на уровне применения их в разнообразных
                    ситуациях;</li>
                <li>Объяснить обучающимся порядок выполнения заданий;</li>
                <li>Консультировать обучающихся по мере необходимости;</li>
                <li>Обеспечить в ходе выполнения тренировочных заданий повышение уровня осмысления изученного материала,
                    глубины его понимания;</li>
                <li>Обеспечить усвоение обучающимися основ разработки интерфейсов;</li>
                <li>Выявить недостатки в знаниях и способах действий обучающихся, установить причины выявленных
                    недостатков;
                </li>
                <li>Способствовать развитию умения правильно составлять план и пользоваться им, сопоставлять факты и
                    события, сравнивать, анализировать, систематизировать материал и формулировать выводы, находить
                    нужную
                    информацию и использовать ее на практике.</li>
            </ul>
        </div>
        <div>
            <p>Студенту:</p>
            <ul>
                <li>В ходе практической работы выполните тренировочные задания, которые помогут освоить новый материал.
                </li>
                <li>В процессе интерактивного взаимодействия с тренажером познакомьтесь с основами проектирования интерфейсов.
                </li>
                <li>Проведите практическую работу с виртуальным оборудованием и фиксацией ее результатов в ЭОМ.</li>
                <li>Выполните тренировочные задания на проверку первичного освоения материала.</li>
                <li>При выполнении заданий обратите внимание на рекомендации преподавателя.</li>
                <li>При возникновении ошибок возвращайтесь к повторному изучению теоретического материала.</li>
            </ul>
        </div>
    </div>


</body>

</html>