<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="guidanceModal modal-style">
        <h3 class="text-center">Рекомендации для преподавателя</h3>
        <h3 class="text-center">Рекомендации для обучающегося (самостоятельная работа):</h3>
        <p>Преподаватель должен
            - организовать просмотр динамической инфографики и последующую беседу по уточнению и конкретизации первичных
            знаний;
            - создать условия для освоения обучающимися знаний в форме интерактивной деятельности;
            - формировать у обучающихся мотивацию к усвоению нового материала, образованию как основному инструменту
            достижения личного и профессионального успеха;
            - познакомить обучающихся с основами разработки дизайн-концепции веб-приложений в соответствии с корпоративным стилем заказчика;
            - ознакомить с техникой формирования требования к дизайну веб-приложений на основе анализа предметной области и целевой аудитории;
            - раскрыть основы разработки дизайна веб-приложения с учетом современных тенденций в области веб-разработки;
            - научить выбирать наиболее подходящее для целевого рынка дизайнерское решение;;
            - ознакомить с основами создания дизайна с применением промежуточных эскизов, требований к эргономике и 
            технической эстетике;
            - содействовать установлению в сознании обучающихся устойчивых связей между накопленным и новым опытом
            познавательной деятельности;
            - фиксировать предложенные обучающимися гипотезы, курировать их обсуждение.
        </p>
        <p>Ознакомьтесь с теоретическим материалом по новой теме. Просмотрите динамическую инфографику по теме
            «Технология проектирования и разработки интерфейсов пользователя».
            Если в процессе изучения материала возникнут вопросы, запишите их для дальнейшего обсуждения с
            преподавателем и/или с группой обучающихся.
            Обратите внимание на основные вопросы, подтверждающие взаимосвязь знаний и умений при изучении модуля:
            - Проектирование сайта;
            - Характеристики цвета;
            - Взаимодействие пользователя;
            - Юзабилити веб-сайтов и приложений для мобильных устройств.
            При необходимости прослушайте/просмотрите материал еще раз.
            Возвращайтесь к наиболее сложным аспектам темы.
            Соблюдайте здоровье-сберегающий режим: чередуйте работу с электронными носителями с отдыхом и гимнастикой
            для глаз.
        </p>
    </div>
</body>

</html>