<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="modal-style">
        <h3>Макет (Hypertext Preprocessor)</h3>
        <p> Это предварительный образец или модель продукта, который помогает дизайнерам и другим участникам проекта
            представить, как будет выглядеть и функционировать конечный продукт. Макеты могут быть физическими
            (например, модели одежды, мебели или архитектурных проектов) или цифровыми (например, прототипы веб-сайтов
            или мобильных приложений). Они используются на разных этапах разработки проекта - от концепции до
            производства, и помогают улучшить коммуникацию между дизайнерами, клиентами и другими заинтересованными
            сторонами.</p>
        <h3>Юзабилити (usability)</h3>
        <p>Это степень удобства и простоты использования продукта или системы. Юзабилити-тестирование — это процесс
            тестирования продукта или системы с целью оценки его удобства для пользователей.
            Юзабилити является важным аспектом дизайна, поскольку оно влияет на удовлетворенность пользователей и
            успешность продукта на рынке. Улучшение юзабилити может привести к увеличению продаж, снижению затрат на
            поддержку и улучшению репутации бренда.</p>
        <h3>Цвет</h3>
        <p>Цвет в дизайне играет важную роль, так как он может влиять на настроение, эмоции и восприятие информации.
            Различные цвета могут вызывать разные ассоциации и ощущения у пользователей, что может влиять на их
            поведение и принятие решений.
            При выборе цветов для дизайна следует учитывать множество факторов, таких как цель дизайна, целевая
            аудитория, контекст использования и другие. Например, яркие и насыщенные цвета могут привлекать внимание и
            стимулировать активность, в то время как пастельные тона могут создавать спокойную атмосферу и улучшать
            концентрацию.</p>
        <h3>Техническое задание (ТЗ)</h3>
        <p>Это документ, который определяет требования к разрабатываемому продукту или системе. ТЗ включает описание
            целей проекта, функциональные требования, технические спецификации, сроки выполнения работ и другие
            параметры. Техническое задание помогает участникам проекта лучше понять задачи и требования, а также
            контролировать процесс разработки.</p>
        <h3>Интерфейс</h3>
        <p>в веб-дизайне интерфейс включает в себя не только элементы управления и кнопки, но и структуру сайта,
            навигацию, шрифты, цвета, изображения и другие визуальные элементы. Цель веб-интерфейса - создать удобное и
            привлекательное пространство для пользователей, где они смогут легко находить нужную информацию и выполнять
            задачи.</p>
    </div>
</body>

</html>